@import "colores";



@media only screen and (max-width: 768px){
  .productosDestacados__titulo{
    text-align: center;
    background-color: $fondo;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 0px 0px;
    margin: px 00px 00px 0px;
}
.productosDestacados__productos{
    display: flex;
    text-align: center;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    }
  
.listaProductos__titulo{
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .footer__logo{
        color: #d1c5b8;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1;  
        margin-left: 0px;
        margin-bottom: 15px;
        text-align: center;
    }
}

@media only screen and (min-width:769px) and (max-width: 1079px){
  .productosDestacados__titulo{
    text-align: center;
    background-color: $fondo;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 0px 0px;
    margin: px 00px 00px 0px;
}
.productosDestacados__productos{
    display: flex;
    text-align: center;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    }
  .piura{
  padding-bottom: 25px;
  }
}

@media only screen and (min-width:1080px){
.header__navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  bottom: 30px;
  margin-bottom: 50px;
  padding: 0px 30px;
  text-align: right;
  top: 0px;
  margin-bottom: 10px;
  }
.listaProductos__titulo{
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
} 
.piura{
  padding-bottom: 0px;
}
}